* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/abstract-bg.jpg) no-repeat center center;
    background-size: cover;
}

body,
input,
button {
    font-family: sans-serif;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main > * {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.time-display {
    font-size: 2rem;
}